h1{
    color: rgb(233, 95, 95);
    margin-bottom: 30px;
}
h2{
    color: rgb(137, 244, 244);
    margin-bottom: 30px;
}
h3{
    color: #e3f3f3;
    margin-bottom: 30px;
}

body{
    background-color: rgb(186, 185, 185);
    font-size: 22px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;

}